SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=example@gmail.com
SMTP_PASSWORD=exam plep assw ords 
SMTP_USE_TLS=true

QKD_KME_URL=http://127.0.0.1:8000
QKD_MASTER_SAE_ID=SENDER_SAE
QKD_SLAVE_SAE_ID=RECEIVER_SAE

IMAP_SERVER=imap.gmail.com
IMAP_PORT=993
IMAP_USERNAME=example@gmail.com
IMAP_PASSWORD=exam plep assw ords
IMAP_USE_SSL=true

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8001
BACKEND_URL=http://127.0.0.1:8001
